p{
    font-family: 'Open Sans', sans-serif;
}
h3, h4, h5, h6{
    font-family: 'Quicksand', sans-serif;
}
h1, h2{
    margin: 0;
}
.subtitle{
    font-family: 'Fjalla One', sans-serif;
}
a{
    color: black;
    cursor: pointer;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}
main {
    margin-top: 64px;
    flex: 1 0 auto;
}
.colorFondoMain {
    background-color: rgb(246, 246, 246);
}
.icono {
    font-size: 40px;
}

i.colorLogin {
    color: #3a73a1;
    margin-right: 10px;
}

.tamanoLogo {
    font-size: 40px;
}
/* ==================================
    ------ MENU PRINCIPAL ------
 ================================= */
nav#main-menu{
    background-color: #3a73a1;
    position: fixed;
    z-index: 10;
}
/* ==================================
    ------ F O O T E R ------
 ================================= */
footer {
    background-color: #707070!important;
}

footer .row.center {
    padding-top: 25px;
}
/*=================================
    ------- I N D E X ---------
================================= */
/* --------- SLIDER ------------- */
.slider .indicators .indicator-item.active{
    background-color: #3e96df;
    box-shadow: 0px 0px 8px #096cbd;
}
/* ------ CONTEDOR CATEGORIAS --- */
#contenedorCategorias{
    background-color: rgb(255, 255, 255);
    padding: 10px 30px;
    margin-bottom: 30px;
}
#contenedorCategorias h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    margin: 20px 0 25px 0;
}
#contenedorCategorias .elemento-categoria a.titulo-elemento-categoria{
    font-family: 'Quicksand', sans-serif;
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    background-color: #EDECEA;
    margin-top: 20px;
    padding: 15px 0 15px 30px;
}
#contenedorCategorias .elemento-categoria a.titulo-elemento-categoria:hover{
    background-color: #3c87c3;
    color: white;
}
@media only screen and (min-width: 993px){
    #contenedorCategorias .elemento-categoria{
        height: 210px;
        margin: 10px;
        width: calc(33.33% - 20px);
        background-size: cover!important;
    }
    #contenedorCategorias .elemento-categoria:nth-child(1){
        background: url("../img/categorias/festividades.png") center center no-repeat;
    }
    #contenedorCategorias .elemento-categoria:nth-child(2){
        background: url("../img/categorias/sentimientos2.jpg") center center no-repeat;
    }
    #contenedorCategorias .elemento-categoria:nth-child(3){
        background: url("../img/categorias/invitaciones.jpg") center center no-repeat;
    }
    #contenedorCategorias .elemento-categoria:nth-child(4){
        background: url("../img/categorias/cumpleanos.jpeg") center center no-repeat;
    }
    #contenedorCategorias .elemento-categoria:nth-child(5){
        background: url("../img/categorias/variadas.png") center center no-repeat;
    }
    #contenedorCategorias .elemento-categoria a.titulo-elemento-categoria:hover{
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
        transition: .1s .1s transform;
    }
    #contenedorCategorias .elemento-categoria a.titulo-elemento-categoria{
        width: 90%;
        margin-top: 50px;
        margin-left: 5%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 3px;
        border: 1px solid white;
        transition: .1s .1s transform;
    }
}
#contenedorCategorias a#ver-catalogo{
    margin: 10px;
}
/*====================================================
    -------  C  A  T  E  G  O  R  I  A  S ---------
==================================================== */
/*MENU LATERAL DE CATEGORIAS*/
#catalogo-Contenedor h1.header{
    margin: 0;
    padding: 15px;
    font-size: 4em;
}
#catalogo-Contenedor #seleccionar-Categoria{
    background-color: white;
    padding: 10px 20px;
    height: 100%;
    border-bottom: 1px solid #ccc;
}
@media only screen and (min-width: 600px){
    #catalogo-Contenedor #seleccionar-Categoria{
        border-right: 1px solid #ccc;
        border-bottom: none;
    }
}
#catalogo-Contenedor #seleccionar-Categoria > p{
    text-align: center;
    font-size: 1.5em;
    padding: 10px 0;
    margin: 10px 0 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.246);
}
#catalogo-Contenedor #seleccionar-Categoria .titulo-categoria{
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: .2em .5em;
    border-bottom: white 1px solid;
}
#catalogo-Contenedor #seleccionar-Categoria .titulo-categoria:hover{
    border-bottom: rgb(20, 73, 117) 1px solid;
}
/*IMAGENES DE LAS POSTALES*/
#catalogo-Contenedor #ejemplos-Postales .titulo{
    text-transform: uppercase;
    margin-top: 35px;
}
#catalogo-Contenedor #todas-postales{
    padding: 0 20px;
}
/* Efectos */
#catalogo-Contenedor #todas-postales .card{
    transition: all .5s .1s;
    cursor: default;
}
#catalogo-Contenedor #todas-postales .card:hover{
    transform: scale(1.1);
    transition: all .5s .1s;
}
#catalogo-Contenedor #todas-postales .card span.card-title{
    background-color: none;
    width: 100%;
    transition: all .5s .1s;
}
#catalogo-Contenedor #todas-postales .card:hover span.card-title{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s .1s;
}
